html, body {
  height: 100%;
  /*overflow: hidden*/
}
* {
  cursor: default !important;
  outline: none !important
}
[disabled]{
  cursor: not-allowed !important
}
.fill {
  min-height: 100%;
  height: 100%
}
.container-fluid{
  padding:0
}
.row{
  margin:0
}
.padding{
  padding:5px
}
.no-padding{
  padding:0
}
.scroll{
  overflow:auto
}
.gray{
  color:gray
}

/*Accordion par emergençis*/
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: none
}
.panel-heading[role="tab"][aria-selected="true"]{
  background-color:white
}
.panel-open{
  border-color:black
}