<!DOCTYPE html>
<html ng-app="GestioneEmergenze">
  <head>
    <meta charset="UTF-8">
    <title>Gestione Emergenze | Protezione Civile</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../node_modules/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../../node_modules/ui-select/dist/select.css" />
    <link rel="stylesheet" href="../../css/style.css" />

  </head>
  <body ng-controller="HomeController">
    <div ng-show="storicoView" style="position:absolute;background-color:white;width:100%;height:100%;z-index:1001">
      <div style="text-align:center;position:fixed;width:100%;font-size:18px;z-index:5;background-color:Menu;color:MenuText">
  <div class="input-group" style="position:absolute;top:0;left:0">
    <button type="button" ng-click="update();storicoView=false;storicoRiepilogo=false" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Chiudi</button>
    <button type="button" ng-click="advancedStoricoView?$broadcast('open.storicoView'):advancedStoricoView=true" style="margin-left:5px" class="btn"><span class="glyphicon" ng-class="{'glyphicon-search':!advancedStoricoView,'glyphicon-remove-circle':advancedStoricoView}"></span> Ricerca avanzata</button>
  </div>
  <span style="font-size:18px;vertical-align:middle;line-height:35px">Tutte le emergenze</span>
  <div class="input-group" style="position:absolute;top:0;right:5px;width:300px">
    <input type="text" style="width:140px" ng-model="model.q" placeholder="Cerca emergenza" class="form-control">
    <span class="input-group-addon">
      <input ng-model="model.fy" type="checkbox"> Anno:
    </span>
    <input type="number" ng-model="model.y" min="2015" max="{{ today | date : 'y'}}" style="width:80px" class="form-control">
  </div>
</div>
<div class="container-fluid fill" style="padding-top:35px;background-color:Window/*Frame*/" ng-controller="StoricoController">
  <div class="row fill">
    <div ng-class="{'col-xs-4':emergenza!==null,'col-xs-12':emergenza==null}" class="padding fill scroll">
      <ul class="list-group">
        <li class="list-group-item" ng-if="advancedStoricoView">
          <ui-select on-select="advancedUnready()" ng-model="advancedQueries.what">
            <ui-select-match placeholder="Campo">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="value in ['Volontario','Attrezzatura','Mezzo'] | filter:$select.search track by $index">
              {{value}}
            </ui-select-choices>
          </ui-select>
          <ui-select on-select="advancedUnready()" ng-if="advancedQueries.what=='Volontario'" ng-model="advancedQueries.Volontario">
            <ui-select-match placeholder="Volontario">{{$select.selected.nome}}</ui-select-match>
            <ui-select-choices repeat="value in volontari | filter:elencabile | filter:$select.search track by $index">
              {{value.nome}}
            </ui-select-choices>
          </ui-select>
          <ui-select on-select="advancedUnready()" ng-if="advancedQueries.what=='Attrezzatura'" ng-model="advancedQueries.Attrezzatura">
            <ui-select-match placeholder="Attrezzatura">{{$select.selected.nome}}</ui-select-match>
            <ui-select-choices repeat="value in attrezzatura | filter:elencabile | filter:$select.search track by $index">
              {{value.nome}}
            </ui-select-choices>
          </ui-select>
          <ui-select on-select="advancedUnready()" ng-if="advancedQueries.what=='Mezzo'" ng-model="advancedQueries.Mezzo">
            <ui-select-match placeholder="Mezzo">{{$select.selected.nome}}</ui-select-match>
            <ui-select-choices repeat="value in mezzi | filter:elencabile | filter:$select.search track by $index">
              {{value.nome}}
            </ui-select-choices>
          </ui-select>
          <button type="button" ng-disabled="!advancedQueries.what||!advancedQueries[advancedQueries.what]" style="margin:5px" ng-click="advancedSearch()" class="btn btn-primary padding"><span class="glyphicon glyphicon-search"></span> Cerca</button>
          <button ng-enabled="storicoRiepilogo" type="button" ng-disabled="!advancedReady||!advancedQueries.what||!advancedQueries[advancedQueries.what]||!emergenze" ng-click="printResume()" class="btn btn-default padding"><span class="glyphicon glyphicon-print"></span> Stampa riepilogo</button>
        </li>
        <li class="list-group-item" style="height:60px;text-align:center;color:{{e.id==emergenza?'white':e.chiusura==null?'green':'gray'}};background-color:{{e.id==emergenza?'blue':'white'}}" ng-click="$event.target.nodeName==='BUTTON'||$event.target.parentElement.nodeName==='BUTTON'?false:setEmergenza(e.id)" ng-repeat="e in emergenze | filter:model.q |filter:filterDateE track by $index">
          <span style="position:absolute;left:15px{{e.chiusura===null?';line-height:40px':''}}"><span width="200px">{{e.data | amDateFormat:emergenza==null?'LL':'L'}} </span><span ng-show="e.chiusura!==null"><br>{{e.chiusura | amDateFormat:emergenza==null?'LL':'L'}}</span></span><span style="line-height:40px">{{e.nome}}</span>
          <!--ng-disabled Blocca la possibilità di chiudere emergenze chiuse da almeno un anno-->
          <div style="position:absolute;right:5px;top:13px"><button ng-disabled="(e.chiusura | amDifference : null : 'years')<0" ng-if="e.chiusura!==null" type="button" style="margin-right:5px" ng-click="reopenEmergency(e.id)" class="btn btn-danger padding"><span class="glyphicon glyphicon-upload"></span><span ng-if="emergenza===null"> Riapri emergenza</span></button><button type="button" ng-click="printEmergency(e)" class="btn btn-default padding"><span class="glyphicon glyphicon-print"></span><span ng-if="emergenza===null"> Stampa</span></button></div>
        </li>
      </ul>
    </div>
    <div class="col-xs-8 fill" ng-show="emergenza!==null">
      <div class="row" style="height:220px">
        <div ng-class="{'col-xs-6':intervento!==null,'col-xs-12':intervento==null}" class="padding fill scroll">
          <ul class="list-group">
            <li class="list-group-item" style="height:60px;text-align:center;color:{{$index==intervento?'white':i.inizio==null?'blue':i.fine==null?'green':'gray'}};background-color:{{$index==intervento?'blue':'white'}}" ng-click="setIntervento($index);gotoi(i.id)" ng-repeat="i in interventi track by $index">
                <span style="position:absolute;left:15px;line-height:40px">{{i.seg | amDateFormat:intervento==null?'LL':'L'}}</span><span style="line-height:40px">{{i.nome}}</span><span style="position:absolute;right:15px{{i.fine===null?';line-height:40px':''}}">{{i.inizio | amDateFormat:intervento==null?'LL':'L'}}<br>{{i.fine | amDateFormat:intervento==null?'LL':'L'}}</span>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 padding fill scroll" ng-show="intervento!==null">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{interventi[intervento].tipo}}</h3></div>
            <div class="panel-body">
                <h5>{{interventi[intervento].indirizzo}} - {{interventi[intervento].contatto}}</h5>
                <h5>{{interventi[intervento].x|todeg}}, {{interventi[intervento].y|todeg}}</h5>
                <b>volontari</b>:
                <span ng-repeat="r in interventi[intervento].volontari">
                  {{volontari[r-1].nome}}{{$last?'':','}}
                </span>
                <br><b>attrezzatura</b>:
                <span ng-repeat="r in interventi[intervento].attrezzatura">
                  {{attrezzatura[r-1].nome}}{{$last?'':','}}
                </span>
                <br><b>mezzi</b>:
                <span ng-repeat="r in interventi[intervento].mezzi">
                  {{mezzi[r-1].nome}}{{$last?'':','}}
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row padding" style="height:calc(100% - 220px)">
        <div class="col-xs-12 fill no-padding" ng-controller="MapController">
          <!-- Mappa -->
          <leaflet id="storicoMap" defaults="defaults" layers="layers" markers="markers" maxbounds="maxbounds" lf-center="center" height="100%" width="100%"></leaflet>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="container-fluid fill">
      <div class="row fill">
        <div style="background-color:Window/*Frame*/" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 fill scroll padding">
          <!-- Barra laterale -->
          <div class="row padding" ng-if="!newI&&MOVER.id===false">
            <button type="button" ng-click="addEmergency()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> emergenza</button>
            <button type="button" ng-click="addIntervento()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>  intervento</button>
          </div>
          <div class="row padding" ng-if="newI">
            <button type="button" ng-click="cancelIntervento()" class="btn btn-warning">Annulla</button>
            <button type="button" ng-disabled="newIform.$invalid" ng-click="saveIntervento()" class="btn btn-success">Crea</button>
          </div>
          <div class="row padding" ng-if="MOVER.id!==false">
            <button type="button" ng-click="saveMoveI(false)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annulla</button>
            <button type="button" ng-click="saveMoveI(true)" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Salva</button>
          </div>
          <uib-accordion close-others="true" ng-hide="newI||MOVER.id!==false">
            <uib-accordion-group heading="{{e.nome}} - {{e.data | amDateFormat:'LL'}}" ng-repeat="e in emergenze track by $index">
              <dl>
                <a ng-repeat="i in e.interventi" ng-click="gotoi(e.id+'@'+i.id)" ng-class="{gray : i.fine!=-1}">
                  <dt>
                    {{i.nome}} - {{i.seg | amDateFormat:'LL'}}
                  </dt>
                  <dd>
                    {{i.indirizzo}}
                  </dd>
                </a>
              </dl>
              <button type="button" ng-click="closeEmergency($index)" class="btn btn-warning padding"><span class="glyphicon glyphicon-flag"></span>  Chiudi emergenza</button>
            </uib-accordion-group>
          </uib-accordion>
          <form novalidate name="newIform" ng-show="newI">
            <div class="form-group">
              <label for="Iname">Intervento</label>
              <input required type="input" class="form-control" id="Iname" ng-model="formI.nome" placeholder="Nome intervento">
            </div>
            <div class="form-group">
              <label for="Iname">Emergenza <button type="button" ng-click="addEmergency()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> emergenza</button></label>
              <ui-select required ng-model="formI.emergenza">
                <ui-select-match>
                  <span ng-bind="$select.selected.nome"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in emergenze | filter: {nome:$select.search} track by item.id">
                  <span ng-bind="item.nome"></span><small> - {{item.data|amDateFormat:'LL'}}</small>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group">
              <label for="Iname">Tipo intervento</label>
              <ui-select required ng-model="formI.tipo">
                <ui-select-match>
                  <span ng-bind="$select.selected.value.nome"></span>
                </ui-select-match>
                <ui-select-choices repeat="(id,value) in tipi | filter:elencabile | filter:$select.search | orderBy:value.nome:false:putAltroEnd track by $index">
                  <span ng-bind="value.value.nome"></span>
                </ui-select-choices>
              </ui-select>
              <input required ng-if="formI.tipo.id==0" type="input" class="form-control" ng-model="formI.altro" placeholder="specificare altro tipo">
            </div>
            <input required type="input" class="form-control" ng-model="formI.indirizzo" placeholder="Indirizzo"><br>
            <div class="input-group">
              <div class="input-group-addon">x</div><input required type="input" ng-model="markers['__temp_marker'].lat" class="form-control" disabled><div class="input-group-addon">y</div><input required type="input" ng-model="markers['__temp_marker'].lng" class="form-control" disabled>
            </div>
            <button ng-if="newMarker" type="button" ng-click="addMarker()" class="btn btn-primary" style="width:100%"><span class="glyphicon glyphicon-pushpin"></span>  Seleziona un punto sulla mappa</button> <br><br>
            <input required type="input" class="form-control" id="Iname" ng-model="formI.contatto" placeholder="Contatto">
            <div class="form-group">
              <label for="Iname">Volontari</label>
              <ui-select multiple data-old-tagging="newTagTransform" ng-model="formI.volontari" data-old-tagging-label="(nuovo)">
                <ui-select-match placeholder="Volontari">{{$item.value.nome}}</ui-select-match>
                <ui-select-choices repeat="(id, value) in volontari | filter:elencabile | filter:$select.search track by $index">
                  {{value.value.nome}}
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group">
              <label for="Iname">Attrezzatura</label>
              <ui-select multiple data-old-tagging="newTagTransform" ng-model="formI.attrezzatura" data-old-tagging-label="(nuova)">
                <ui-select-match placeholder="Attrezzatura">{{$item.value.nome}}</ui-select-match>
                <ui-select-choices repeat="(id,value) in attrezzatura | filter:elencabile |  filter:$select.search track by $index">
                  {{value.value.nome}}
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group">
              <label for="Iname">Mezzi</label>
              <ui-select multiple data-old-tagging="newTagTransform" ng-model="formI.mezzi" data-old-tagging-label="(nuova)">
                <ui-select-match placeholder="Mezzi">{{$item.value.nome}}</ui-select-match>
                <ui-select-choices repeat="(id,value) in mezzi | filter:elencabile |  filter:$select.search track by $index">
                  {{value.value.nome}}
                </ui-select-choices>
              </ui-select>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 fill no-padding" ng-controller="MapController">
          <!-- Mappa -->
          <leaflet id="mainMap" defaults="defaults" layers="layers" markers="markers" data-comment-geojson="confini" maxbounds="maxbounds" lf-center="center" height="100%" width="100%" event-broadcast="events"></leaflet>
        </div>
      </div>
    </div>
</body>

  <script>
    require('../../renderer.js')
  </script>
</html>
